$mainColor: white;

$tabwidth : 720px;
$mobwidth : 420px;

@mixin tab{
    @media (max-width: #{$tabwidth}){
        @content 
    }
}

@mixin mobile {
    @media (max-width: #{$mobwidth}){
        @content 
    }
}